{% extends 'base.html' %}

    {% block title %}Expense Categories{% endblock title %}
    {% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
                <th>Number</th>
            </tr>
            </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.receipts.all|length }}</td>
                <td>{{ account.number }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
    {% endblock content %}
